################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QueueApp/.vs
/QueueApp/obj
/QueueApp/bin/Debug/net9.0
/QueueApp/bin/Debug/net8.0
/Fagkveld/.vs
/Fagkveld/EgetOppsett/bin/Debug/net8.0
/Fagkveld/EgetOppsett/obj/Debug/net8.0
/Fagkveld/Løsningforslag/bin/Debug/net8.0
/.vs/service-bus-emulator/v17
/Fagkveld/Løsningforslag/obj/Debug/net8.0
/Fagkveld/EgetOppsett/obj
/.vs/VSWorkspaceState.json
/Fagkveld/Løsningforslag/obj
/Fagkveld/Losningforslag/bin/Debug/net8.0
/Fagkveld/Losningforslag/obj
